{{define "anthropometry"}}


<section id="item-1-3">
    <div class="shadow-sm p-3 bg-white rounded h-100">
        <h5 class="text-center">Антропометрия</h5>
        <hr>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <br>
                <div class="mb-1">


                    <form id="demography" method="POST" action="/subject/screening/anthropometry">

                        <div class="mb-1">
                            <div class="mb-1">
                                <label class="form-label">Измерение антропометрических данных
                                    проведено?</label>
                                <div class="input-group mb-3" id="condition9"
                                    field-name="data_been_measured"
                                    color-value="{{.Subject.Screening.Anthropometry.AnthropometricDataBeenMeasuredCondition.Color}}">
                                    <div class="mb-2">
                                        <input class="form-control" type="hidden"
                                            placeholder="{{.Subject.Number}}"
                                            value="{{.Subject.Number}}" name="subject_number" id="id"
                                            readonly>
                                    </div>
                                    <div class="mb-2">
                                        <input class="form-control" type="hidden"
                                            placeholder="{{.Subject.ProtocolId}}"
                                            value="{{.Subject.ProtocolId}}" name="protocol_id" id="id"
                                            readonly>
                                    </div>
                                    <select id="sex" name="data_been_measured" class="form-select">
                                        {{if eq
                                        .Subject.Screening.Anthropometry.AnthropometricDataBeenMeasuredCondition.AnthropometricDataBeenMeasured
                                        1 }}
                                        <option selected value="1">Да</option>
                                        <option value="2">Нет</option>
                                        {{else if eq
                                        .Subject.Screening.Anthropometry.AnthropometricDataBeenMeasuredCondition.AnthropometricDataBeenMeasured
                                        2}}
                                        <option value="1">Да</option>
                                        <option selected value="2">Нет</option>
                                        {{else }}
                                        <option value="0">Не выбрано</option>
                                        <option value="1">Да</option>
                                        <option value="2">Нет</option>
                                        {{end}}


                                    </select>

                                </div>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Если НЕТ, то укажите причину</label>
                                <div class="input-group mb-3" id="condition10" field-name="if_not"
                                    color-value="{{.Subject.Screening.Anthropometry.ReasonIfNotCondition.Color}}">
                                    {{if
                                    .Subject.Screening.Anthropometry.ReasonIfNotCondition.ReasonIfNot
                                    }}
                                    <input
                                        value="{{.Subject.Screening.Anthropometry.ReasonIfNotCondition.ReasonIfNot}}"
                                        name="if_not" class="form-control" type="input">
                                    {{else}}
                                    <input name="if_not" class="form-control" type="input">
                                    {{end}}

                                </div>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Дата проведения измерений</label>
                                <div class="input-group mb-3" id="condition11"
                                    field-name="date_of_start"
                                    color-value="{{.Subject.Screening.Anthropometry.DateOfStartMeasuredCondition.Color}}">
                                    {{if
                                    .Subject.Screening.Anthropometry.DateOfStartMeasuredCondition.DateOfStartMeasured
                                    }}
                                    <input
                                        value="{{.Subject.Screening.Anthropometry.DateOfStartMeasuredCondition.DateOfStartMeasured}}"
                                        name="date_of_start" class="form-control" type="date">
                                    {{else}}
                                    <input name="date_of_start" class="form-control" type="date">
                                    {{end}}


                                </div>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Масса тела</label>
                                <div class="input-group mb-3" id="condition12" field-name="weight"
                                    color-value="{{.Subject.Screening.Anthropometry.WeightOfBodyCondition.Color}}">
                                    {{if
                                    .Subject.Screening.Anthropometry.WeightOfBodyCondition.WeightOfBody
                                    }}
                                    <input
                                        value="{{.Subject.Screening.Anthropometry.WeightOfBodyCondition.WeightOfBody}}"
                                        name="weight" class="form-control" type="input">
                                    {{else}}
                                    <input name="weight" class="form-control" type="input">
                                    {{end}}

                                </div>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Рост</label>
                                <div class="input-group mb-3" id="condition13" field-name="height"
                                    color-value="{{.Subject.Screening.Anthropometry.HeightOfBodyCondition.Color}}">
                                    {{if
                                    .Subject.Screening.Anthropometry.HeightOfBodyCondition.HeightOfBody
                                    }}
                                    <input
                                        value="{{.Subject.Screening.Anthropometry.HeightOfBodyCondition.HeightOfBody}}"
                                        name="height" class="form-control" type="input">
                                    {{else}}
                                    <input name="height" class="form-control" type="input">
                                    {{end}}

                                </div>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Индекс массы тела(рассчетное значение)</label>
                                <div class="input-group mb-3" id="condition14" field-name="index"
                                    color-value="{{.Subject.Screening.Anthropometry.IndexWeigthOfBodyCondition.Color}}">
                                    {{if
                                    .Subject.Screening.Anthropometry.IndexWeigthOfBodyCondition.IndexWeigthOfBody
                                    }}
                                    <input
                                        value="{{.Subject.Screening.Anthropometry.IndexWeigthOfBodyCondition.IndexWeigthOfBody }}"
                                        name="index" class="form-control" type="input">
                                    {{else}}

                                    <input name="index" class="form-control" type="input">
                                    {{end}}

                                </div>
                            </div>



                            <div class="d-grid gap-2">
                                <input type="submit" value="Сохранить" class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{{end}}