{{define "completion"}}

<section id="item-1-6">
    <div class="shadow-sm p-3 bg-white rounded h-100">
        <h5 class="text-center">Завершение скрининга</h5>
        <hr>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <br>
                <div class="mb-1">


                    <form id="demography" method="POST" action="/subject/screening/completion">
                        <div class="mb-2">
                            <input class="form-control" type="hidden" placeholder="{{.Subject.Number}}"
                                value="{{.Subject.Number}}" name="subject_number" id="id" readonly>
                        </div>
                        <div class="mb-2">
                            <input class="form-control" type="hidden" placeholder="{{.Subject.ProtocolId}}"
                                value="{{.Subject.ProtocolId}}" name="protocol_id" id="id" readonly>
                        </div>
                        <div class="mb-1">
                            <div class="mb-1">
                                <label class="form-label"> Доброволец соответствует критериям включения? -</label>
                                <div class="input-group mb-3" id="condition52"
                                    color-value="{{.Subject.Screening.CompletionOfScreening.VolunteerEligibleCondition.Color}}"
                                    field-name="completion1" input-type="select">

                                    {{if eq
                                    .Subject.Screening.CompletionOfScreening.VolunteerEligibleCondition.VolunteerEligible
                                    1}}
                                    <input value="Да" class="form-control" disabled>
                                    {{else if eq
                                    .Subject.Screening.CompletionOfScreening.VolunteerEligibleCondition.VolunteerEligible
                                    2 }}
                                    <input value="Нет" class="form-control" disabled>

                                    {{else}}
                                    <select id="completion1" name="completion1" class="form-select">
                                        <option selected value="0">Не выбрано</option>
                                        <option value="1">Да</option>
                                        <option value="2"> Нет</option>
                                    </select>
                                    {{end}}


                                </div>
                            </div>
                            <div class="mb-2">


                                <label class="form-label">Критерии невключения отсутствуют?</label>
                                <div class="input-group mb-3" id="condition53" field-name="completion2"
                                    color-value="{{.Subject.Screening.CompletionOfScreening.NoExclusionCriteriaCondition.Color}}"
                                    input-type="select">

                                    {{if eq
                                    .Subject.Screening.CompletionOfScreening.NoExclusionCriteriaCondition.NoExclusionCriteria
                                    1}}
                                    <input value="Да" class="form-control" disabled>
                                    {{else if eq
                                    .Subject.Screening.CompletionOfScreening.NoExclusionCriteriaCondition.NoExclusionCriteria
                                    2 }}
                                    <input value="Нет" class="form-control" disabled>

                                    {{else}}
                                    <select id="completion2" name="completion2" class="form-select">
                                        <option selected value="0">Не выбрано</option>
                                        <option value="1">Да</option>
                                        <option value="2"> Нет</option>
                                    </select>
                                    {{end}}


                                </div>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Доброволец был проинформирован об ограничениях, требуемых
                                    протоколом и согласен
                                    их соблюдать в течение исследования?</label>
                                <div class="input-group mb-3" id="condition54" field-name="completion3"
                                    color-value="{{.Subject.Screening.CompletionOfScreening.InformedOfTheRestrictionsCondition.Color}}"
                                    input-type="select">

                                    {{if eq
                                    .Subject.Screening.CompletionOfScreening.InformedOfTheRestrictionsCondition.InformedOfTheRestrictions
                                    1}}
                                    <input value="Да" class="form-control" disabled>

                                    {{else if eq
                                    .Subject.Screening.CompletionOfScreening.InformedOfTheRestrictionsCondition.InformedOfTheRestrictions
                                    2 }}
                                    <input value="Нет" class="form-control" disabled>

                                    {{else}}
                                    <select id="completion3" name="completion3" class="form-select">
                                        <option selected value="0">Не выбрано</option>
                                        <option value="1">Да</option>
                                        <option value="2"> Нет</option>
                                    </select>
                                    {{end}}

                                </div>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Доброволец включен в исследование?</label>
                                <div class="input-group mb-3" id="condition55" field-name="completion4"
                                    color-value="{{.Subject.Screening.CompletionOfScreening.VolunteerIncludedCondition.Color}}"
                                    input-type="select">

                                    {{if eq
                                    .Subject.Screening.CompletionOfScreening.VolunteerIncludedCondition.VolunteerIncluded
                                    1}}
                                    <input value="Да" class="form-control" disabled>
                                    {{else if eq
                                    .Subject.Screening.CompletionOfScreening.VolunteerIncludedCondition.VolunteerIncluded
                                    2 }}
                                    <input value="Нет" class="form-control" disabled>

                                    {{else}}
                                    <select id="completion4" name="completion4" class="form-select">
                                        <option selected value="0">Не выбрано</option>
                                        <option value="1">Да</option>
                                        <option value="2"> Нет</option>
                                    </select>
                                    {{end}}

                                </div>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Если «НЕТ», необходимо указать причину</label>
                                <div class="input-group mb-3" id="condition56" field-name="completion5"
                                    color-value="{{.Subject.Screening.CompletionOfScreening.ReasonIfNotCondition.Color}}"
                                    input-type="text">
                                    {{if.Subject.Screening.CompletionOfScreening.ReasonIfNotCondition.ReasonIfNot }}
                                    <input
                                        value="{{.Subject.Screening.CompletionOfScreening.ReasonIfNotCondition.ReasonIfNot}}"
                                        name="completion5" class="form-control" type="input" disabled>
                                    {{else}}
                                    <input name="completion5" class="form-control" type="input">
                                    {{end}}
                                </div>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Поле «Комментарий» заполняется по желанию в произвольном
                                    тексте.</label>
                                <div class="input-group mb-3" id="condition57" field-name="completion6"
                                    color-value="{{.Subject.Screening.CompletionOfScreening.CommentCondition.Color}}"
                                    input-type="text">
                                    {{if .Subject.Screening.CompletionOfScreening.CommentCondition.CommentValue}}
                                    <input
                                        value="{{.Subject.Screening.CompletionOfScreening.CommentCondition.CommentValue}}"
                                        name="completion6" class="form-control" type="input" disabled>
                                    {{else}}
                                    <input name="completion6" class="form-control" type="input">
                                    {{end}}
                                </div>
                            </div>

                            {{if gt
                            .Subject.Screening.CompletionOfScreening.VolunteerEligibleCondition.VolunteerEligible
                            0 }}

                            {{else}}

                            <div class="d-grid gap-2">
                                <input type="submit" value="Сохранить" class="btn btn-primary">
                            </div>

                            {{end}}
                        </div>
                    </form>
                </div>
            </div>

        </div>


    </div>
</section>

{{end}}