{{define "informaion_consent"}}

<section id="item-1-1">
    <div class="shadow-sm p-3 bg-white rounded h-100" id="item-1-1">
        <h5 class="text-center">Информ. согласие</h5>
        <hr>




        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <br>
                <div class="mb-1">


                    <form id="demography" method="POST" action="/subject/screening/informaionconsent">

                        <div class="mb-1">
                            <div class="mb-2">
                                <input class="form-control" type="hidden"
                                    placeholder="{{.Subject.Number}}" value="{{.Subject.Number}}"
                                    name="subject_number" id="id" readonly>
                            </div>
                            <div class="mb-2">
                                <input class="form-control" type="hidden"
                                    placeholder="{{.Subject.ProtocolId}}"
                                    value="{{.Subject.ProtocolId}}" name="protocol_id" id="id" readonly>
                            </div>


                            <div class="mb-1"> <label class="form-label">Информированное согласие
                                    подписано?</label>
                                <div class="input-group mb-3" id="condition1"
                                    color-value="{{.Subject.Screening.InformaionConsent.SignedCondition.Color}}"
                                    field-name="signed">

                                    <select id="signed" name="signed" class="form-select">
                                        {{if eq
                                        .Subject.Screening.InformaionConsent.SignedCondition.Signed
                                        1 }}
                                        <option selected value="1">Да</option>
                                        <option value="2">Нет</option>
                                        {{else if eq
                                        .Subject.Screening.InformaionConsent.SignedCondition.Signed 2}}
                                        <option value="1">Да</option>
                                        <option selected value="2">Нет</option>
                                        {{else }}
                                        <option value="0">Не выбрано</option>
                                        <option value="1">Да</option>
                                        <option value="2">Нет</option>
                                        {{end}}
                                    </select>
                                </div>

                            </div>
                            <div class="mb-2">
                                <label class="form-label">Дата подписания</label>
                                <div class="input-group mb-3" id="condition2" field-name="date_of_sign"
                                    color-value="{{.Subject.Screening.InformaionConsent.DateOfSignCondition.Color}}">
                                    {{if
                                    .Subject.Screening.InformaionConsent.DateOfSignCondition.DateOfSign
                                    }}
                                    <input
                                        value="{{.Subject.Screening.InformaionConsent.DateOfSignCondition.DateOfSign}}"
                                        name="date_of_sign" class="form-control" type="data">
                                    {{else}}
                                    <input name="date_of_sign" class="form-control" type="date">
                                    {{end}}


                                </div>
                            </div>
                            </body>
                            <div class="mb-2">
                                <label class="form-label">Время подписания</label>
                                <div class="input-group mb-3" id="condition3" field-name="time_of_sign"
                                    color-value="{{.Subject.Screening.InformaionConsent.TimeOfSignCondition.Color}}">
                                    {{if
                                    .Subject.Screening.InformaionConsent.TimeOfSignCondition.TimeOfSign
                                    }}
                                    <input
                                        value="{{.Subject.Screening.InformaionConsent.TimeOfSignCondition.TimeOfSign}}"
                                        name="time_of_sign" class="form-control" type="time">
                                    {{else}}
                                    <input name="time_of_sign" class="form-control" type="time">
                                    {{end}}
                                </div>
                            </div>
                            <div class="mb-1">
                                <label class="form-label">Доброволец получил на руки оригинал страхового
                                    Полиса участника исследования ?</label>
                                <div class="input-group mb-3" id="condition4" field-name="original"
                                    color-value="{{.Subject.Screening.InformaionConsent.ReceivedAnInsurancePolicyCondition.Color}}">
                                    <select id="sex" name="original" class="form-select">
                                        {{if eq
                                        .Subject.Screening.InformaionConsent.ReceivedAnInsurancePolicyCondition.ReceivedAnInsurancePolicy
                                        1 }}
                                        <option selected value="1">Да</option>
                                        <option value="2">Нет</option>
                                        {{else if eq
                                        .Subject.Screening.InformaionConsent.ReceivedAnInsurancePolicyCondition.ReceivedAnInsurancePolicy
                                        2}}
                                        <option value="1">Да</option>
                                        <option selected value="2">Нет</option>
                                        {{else }}
                                        <option value="0">Не выбрано</option>
                                        <option value="1">Да</option>
                                        <option value="2">Нет</option>
                                        {{end}}


                                    </select>

                                </div>
                            </div>
                            <div class="mb-1">
                                <label class="form-label">Доброволец получил на руки один экземпляр
                                    информированного согласия</label>
                                <div class="input-group mb-3" id="condition5" field-name="consent"
                                    color-value="{{.Subject.Screening.InformaionConsent.ReceivedAnInformaionConsentCondition.Color}}">
                                    <select id="sex" name="consent" class="form-select">
                                        {{if eq
                                        .Subject.Screening.InformaionConsent.ReceivedAnInformaionConsentCondition.ReceivedAnInformaionConsent
                                        1
                                        }}
                                        <option selected value="1">Да</option>
                                        <option value="2">Нет</option>
                                        {{else if eq
                                        .Subject.Screening.InformaionConsent.ReceivedAnInformaionConsentCondition.ReceivedAnInformaionConsent
                                        2}}
                                        <option value="1">Да</option>
                                        <option selected value="2">Нет</option>
                                        {{else }}
                                        <option value="0">Не выбрано</option>
                                        <option value="1">Да</option>
                                        <option value="2">Нет</option>
                                        {{end}}

                                    </select>
                                </div>
                            </div>


                            <div class="d-grid gap-2">
                                <input type="submit" value="Сохранить" class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>


{{end}}