<section>
    <div class="container-fluid mb-3">
        <div class="row justify-content-center">
            <div class="col-8 p-0">
                <div class="shadow p-3 mb-3 bg-white rounded">
                    <h2 class="text-center">{{.Protocol.Name}}</h2>
                </div>
            </div>
        </div>
    </div>



    <partial name="_ShadeHeaderPartial" />
    <div class="row">
        <div class="col-2  shadow-sm p-3 bg-white rounded">
            <h5 class="text-center">Субъекты</h5>
            <div id="subject-select">
                <div class="d-flex" id="load">
                    <select class="form-select px-1" id="subject" onchange="gotopage(this)">
                        <option value="{{.Subject.Number}}">Субьект №{{.Subject.Number}}</option>
                        {{$p := .Protocol.Id}}
                        {{range .Subjects}}
                        <option value="/protocol/{{$p}}/{{.Number}}">Субьект №{{.Number}}</option>
                        {{end}}
                    </select>
                    <script type="text/javascript">
                        function gotopage(selval) {
                            var value = selval.options[selval.selectedIndex].value;
                            window.location.href = value;
                        }
                    </script>

                </div>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm  btn-primary" data-bs-toggle="modal" data-bs-target="#updateCenter">
                Добавить субьект исследования
            </button>

            <!-- Modal -->
            <div class="modal fade" id="updateCenter" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="updateCenter" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="updateCenter">Добавление нового субьекта
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row justify-content-center mt-3">
                                <form id="new-form" method="POST" action="/subject/new"
                                    class="col-12 col-lg-6 col-md-8 col-sm-10 rounded">
                                    <div class="m-3">
                                        <div class="m-3">
                                            <div class="mb-2">
                                                <label class="form-label">Протокол ID</label>
                                                <input class="form-control" type="text" placeholder="{{.Protocol.Id}}"
                                                    value="{{.Protocol.Id}}" name="protocol_id" id="protocol_id"
                                                    readonly>
                                            </div>
                                            <div class="mb-2">
                                                <label class="form-label">Центр ID</label>
                                                <input class="form-control" type="text" placeholder="{{.ClinicId}}"
                                                    value="{{.ClinicId}}" name="center_id" id="center_id" readonly>
                                            </div>
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label">Скрининговый номер</label>
                                            <input id="number" type="text" class="form-control" name="number">
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label">Инициалы добровольца</label>
                                            <input id="initials" type="text" class="form-control" name="initials">
                                        </div>

                                        <div class="d-grid gap-2">
                                            <br>
                                            <input type="submit" value="Сохранить" class="btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>

                        </div>
                    </div>
                </div>
            </div>

            <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch ">
                <a class="navbar-brand" href="#">Навигация</a>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link" href="#item-1">Скрининг</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ms-3 my-1" href="#item-1-1">Начало визита</a>
                        <a class="nav-link ms-3 my-1" href="#item-1-2">Информ. согласие</a>
                        <a class="nav-link ms-3 my-1" href="#item-1-3">Демография</a>
                        <a class="nav-link ms-3 my-1" href="#item-1-4">Антропометрия</a>
                        <a class="nav-link ms-3 my-1" href="#item-1-5">Критерии включения в иследование</a>
                        <a class="nav-link ms-3 my-1" href="#item-1-6">Критерии невключения в исследование</a>
                    </nav>
                    <a class="nav-link" href="#item-2">Период 1</a>
                    <a class="nav-link" href="#item-3">Период 2</a>
                    <a class="nav-link" href="#item-4">Заключительное обследование</a>
                    <a class="nav-link" href="#item-5">Внеплановый визит №1</a>
                    <a class="nav-link" href="#item-6">Внеплановый визит №2</a>
                </nav>
            </nav>

            <style>
                .navbar-example3 {
                    position: relative;
                    height: 600px;
                    overflow: auto;
                }
            </style>

        </div>
        <div class="col-8 navbar-example3" id="center">
            <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
                <h4 id="item-1"></h4>
                <p></p>
                <h5 id="item-1-1"></h5>
                <p>
                <div class="shadow-sm p-3 bg-white rounded h-100">
                    <h5 class="text-center">Начало визита</h5>
                    <hr>
                    <div class="row">
                        <div class="col-7">
                            <br>
                        </div>
                    </div>
                </div>
                </p>
                <h5 id="item-1-2"></h5>

                <p>
                <div class="shadow-sm p-3 bg-white rounded h-100">
                    <h5 class="text-center">Информ. согласие</h5>
                    <hr>
                    <div class="row">
                        <div class="col-7">
                            <br>
                            <div class="mb-1">


                                <form id="demography" method="POST" action="/subject/demography/save">

                                    <div class="mb-1">
                                        <div class="mb-1">
                                            <label class="form-label">Информированное согласие подписано?</label>
                                            <select id="sex" name="center" class="form-select">
                                                <option value="1">Да</option>
                                                <option value="2">Нет</option>

                                            </select>
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label">Дата подписания</label>
                                            <input class="form-control" type="date">
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label">Время подписания</label>
                                            <input class="form-control" type="time">
                                        </div>
                                        <div class="mb-1">
                                            <label class="form-label">Доброволец получил на руки оригинал страхового
                                                Полиса участника исследования ?</label>
                                            <select id="sex" name="center" class="form-select">
                                                <option value="1">Да</option>
                                                <option value="2">Нет</option>

                                            </select>
                                        </div>
                                        <div class="mb-1">
                                            <label class="form-label">Доброволец получил на руки один экземпляр
                                                информированного согласия</label>
                                            <select id="sex" name="center" class="form-select">
                                                <option value="1">Да</option>
                                                <option value="2">Нет</option>

                                            </select>
                                        </div>


                                        <div class="d-grid gap-2">
                                            <input type="submit" value="Сохранить" class="btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </p>

                <h5 id="item-1-3"></h5>
                <p>
                <div class="shadow-sm p-3 bg-white rounded h-100">
                    <h5 class="text-center">Демография</h5>
                    <hr>
                    <div class="row">
                        <div class="col-7">
                            <br>
                            <div class="mb-1">


                                <form id="demography" method="POST" action="/subject/demography/new">

                                    <div class="mb-1">
                                        <div class="mb-1">
                                            <label class="form-label">Пол</label>
                                            <select id="sex" name="center" class="form-select">
                                                <option value="1">Мужчина</option>
                                                <option value="2">Женщина</option>

                                            </select>
                                        </div>
                                        <div class="mb-2">


                                            <label class="form-label">Раса</label>
                                            <select id="sex" name="center" class="form-select">
                                                <option value="1">Европеоидная</option>
                                                <option value="2">Негроидная</option>
                                                <option value="3">Монголоидная</option>
                                                <option value="4">Американоидная</option>
                                                <option value="5">Австралоидная</option>

                                            </select>
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label">Дата рождения</label>
                                            <input class="form-control" type="date">
                                        </div>

                                        <div class="d-grid gap-2">
                                            <input type="submit" value="Сохранить" class="btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-5 grey rounded">
                            <table>
                                <thead>
                                    <tr class="cell-centered">
                                        <th>Первичная валидация</th>
                                        <th>Верификация монитором</th>
                                        <th>Верификация Дата Менеджером</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cell-centered">
                                        <td>
                                            <h2>✅</h2>
                                        </td>
                                        <td>
                                            <h2>✅</h2>
                                        </td>
                                        <td>
                                            <h2>⛔</h2>
                                        </td>
                                    </tr>
                                    <tr class="cell-centered">

                                        <td>
                                            <h2></h2>
                                        </td>
                                        <td>
                                            <h2></h2>
                                        </td>
                                        <td>
                                            <h2></h2>
                                        </td>
                                    </tr>
                                    <tr class="cell-centered">

                                        <td>
                                            <h2></h2>
                                        </td>
                                        <td>
                                            <h2></h2>
                                        </td>
                                        <td>
                                            <h2></h2>
                                        </td>
                                    </tr>
                                    <tr class="cell-centered">

                                        <td>
                                            <h2></h2>
                                        </td>
                                        <td>
                                            <h2></h2>
                                        </td>
                                        <td>
                                            <h2></h2>
                                        </td>
                                    </tr>
                                    <tr class="cell-centered">

                                        <td>
                                            <h2>✅</h2>
                                        </td>
                                        <td>
                                            <h2>✅</h2>
                                        </td>
                                        <td>
                                            <h2>⛔</h2>
                                        </td>
                                    </tr>
                                    <tr class="cell-centered">

                                        <td>
                                            <h2></h2>
                                        </td>
                                        <td>
                                            <h2></h2>
                                        </td>
                                        <td>
                                            <h2></h2>
                                        </td>
                                    </tr>
                                    <tr class="cell-centered">

                                        <td>
                                            <h2></h2>
                                        </td>
                                        <td>
                                            <h2></h2>
                                        </td>
                                        <td>
                                            <h2></h2>
                                        </td>
                                    </tr>
                                    <tr class="cell-centered">

                                        <td>
                                            <h2></h2>
                                        </td>
                                        <td>
                                            <h2></h2>
                                        </td>
                                        <td>
                                            <h2></h2>
                                        </td>
                                    </tr>
                                    <tr class="cell-centered">
                                        <td>
                                            <h2>✅</h2>
                                        </td>
                                        <td>
                                            <h2>✅</h2>
                                        </td>
                                        <td>
                                            <h2>⛔</h2>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
                </p>

                <h4 id="item-1-4"></h4>
                <p>
                <div class="shadow-sm p-3 bg-white rounded h-100">
                    <h5 class="text-center">Антропометрия</h5>
                    <hr>
                    <div class="row">
                        <div class="col-7">
                            <br>
                            <div class="mb-1">


                                <form id="demography" method="POST" action="/subject/demography/save">

                                    <div class="mb-1">
                                        <div class="mb-1">
                                            <label class="form-label">Измерение антропометрических данных
                                                проведено?</label>
                                            <select id="sex" name="center" class="form-select">
                                                <option value="1">Да</option>
                                                <option value="2">Нет</option>

                                            </select>
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label">Если НЕТ, то укажите причину</label>
                                            <input class="form-control" type="input">
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label">Дата проведения измерений</label>
                                            <input class="form-control" type="date">
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label">Масса тела</label>
                                            <input class="form-control" type="input">
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label">Рост</label>
                                            <input class="form-control" type="input">
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label">Индекс массы тела(рассчетное значение)</label>
                                            <input class="form-control" type="input">
                                        </div>



                                        <div class="d-grid gap-2">
                                            <input type="submit" value="Сохранить" class="btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </p>

                <h4 id="item-1-5"></h4>
                <p>
                <div class="shadow-sm p-3 bg-white rounded h-100">
                    <h5 class="text-center">Критерии включения в иследование</h5>
                    <hr>
                    <div class="row">
                        <div class="col-7">
                            <br>
                            <div class="mb-1">


                                <form id="demography" method="POST" action="/subject/demography/save">

                                    <div class="mb-1">
                                        <div class="mb-1">
                                            <div class="form-chek">
                                                <label class="form-check-label"> Отсутствие подписанного информированного
                                                    согласия &nbsp; </label>
                                                <label class="form-check-label" for="flexRadioFirstYes">Да</label>
                                                <input class="form-check-input" type="radio" name="flexRadioYes" id="flexRadioFirstYes" >
                                                <label class="form-check-label" for="flexRadioFirstNo">Нет</label>
                                                <input class="form-check-input" type="radio" name="flexRadioNo" id="flexRadioFirstNo">
                                                
                                               
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-radio">
                                                <label class="radio-inline">Терапия стероидами (за исключением
                                                    гормональных контрацептивных
                                                    препаратов) и/или иммуноглобулинами или другими препаратами крови,
                                                    не
                                                    завершившаяся за 30 дней до включения в исследование &nbsp;<input
                                                        type="radio" name="optradio">Да</label>
                                                <label class="radio-inline"><input type="radio"
                                                        name="optradio">Нет</label>
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-radio">
                                                <label class="radio-inline">Терапия иммуносупрессивными препаратами,
                                                    завершившаяся менее чем за
                                                    3 месяца до включения в исследование &nbsp;<input type="radio"
                                                        name="optradio">Да</label>
                                                <label class="radio-inline"><input type="radio"
                                                        name="optradio">Нет</label>
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-radio">
                                                <label class="radio-inline">Субъекты женского пола в период беременности
                                                    или кормления грудью &nbsp;<input type="radio"
                                                        name="optradio">Да</label>
                                                <label class="radio-inline"><input type="radio"
                                                        name="optradio">Нет</label>
                                                <label class="radio-inline"><input type="radio"
                                                        name="optradio">Неприменимо</label>
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-radio">
                                                <label class="radio-inline">Перенесенный менее чем за один год до
                                                    включения в исследование острый
                                                    коронарный синдром или инсульт &nbsp;<input type="radio"
                                                        name="optradio">Да</label>
                                                <label class="radio-inline"><input type="radio"
                                                        name="optradio">Нет</label>
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-radio">
                                                <label class="radio-inline">Туберкулез, хронические системные инфекции
                                                    &nbsp;<input type="radio" name="optradio">Да</label>
                                                <label class="radio-inline"><input type="radio"
                                                        name="optradio">Нет</label>
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-radio">
                                                <label class="radio-inline">Отягощенный аллергологический анамнез
                                                    (наличие в анамнезе сведений об
                                                    анафилактическом шоке, отеке Квинке, полиморфной экссудативной
                                                    экземе,
                                                    сывороточной болезни), гиперчувствительность или аллергические
                                                    реакции на
                                                    введение иммунобиологических препаратов, известные аллергические
                                                    реакции
                                                    на компоненты препарата, обострение аллергических заболеваний на
                                                    день
                                                    включения в исследование &nbsp;<input type="radio"
                                                        name="optradio">Да</label>
                                                <label class="radio-inline"><input type="radio"
                                                        name="optradio">Нет</label>
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-radio">
                                                <label class="radio-inline">Наличие в анамнезе новообразований (коды МКБ
                                                    C00-D09) &nbsp;<input type="radio" name="optradio">Да</label>
                                                <label class="radio-inline"><input type="radio"
                                                        name="optradio">Нет</label>
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-radio">
                                                <label class="radio-inline">Спленэктомия в анамнезе &nbsp;<input
                                                        type="radio" name="optradio">Да</label>
                                                <label class="radio-inline"><input type="radio"
                                                        name="optradio">Нет</label>
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-radio">
                                                <label class="radio-inline">Нейтропения (снижение абсолютного числа
                                                    нейтрофилов менее 1000/мм3),
                                                    агранулоцитоз, значительная кровопотеря, тяжелая анемия (гемоглобин
                                                    менее
                                                    80 г/л), иммунодефицит в анамнезе в течение 6 месяцев до включения в
                                                    исследование &nbsp;<input type="radio" name="optradio">Да</label>
                                                <label class="radio-inline"><input type="radio"
                                                        name="optradio">Нет</label>
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-radio">
                                                <label class="radio-inline">Субъекты с активной формой сифилиса,
                                                    ВИЧ/СПИД, гепатиты B и C &nbsp;<input type="radio"
                                                        name="optradio">Да</label>
                                                <label class="radio-inline"><input type="radio"
                                                        name="optradio">Нет</label>
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-radio">
                                                <label class="radio-inline">Анорексия, белковый дефицит любого
                                                    происхождения &nbsp;<input type="radio" name="optradio">Да</label>
                                                <label class="radio-inline"><input type="radio"
                                                        name="optradio">Нет</label>
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-radio">
                                                <label class="radio-inline">Обширные татуировки на местах введения
                                                    препарата (область
                                                    дельтовидной мышцы), не позволяющие оценить местную реакцию на
                                                    введение ИЛП &nbsp;<input type="radio" name="optradio">Да</label>
                                                <label class="radio-inline"><input type="radio"
                                                        name="optradio">Нет</label>
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-radio">
                                                <label class="radio-inline">Прием наркотических и психостимулирующих
                                                    препаратов в настоящее
                                                    время или в анамнезе &nbsp;<input type="radio"
                                                        name="optradio">Да</label>
                                                <label class="radio-inline"><input type="radio"
                                                        name="optradio">Нет</label>
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-radio">
                                                <label class="radio-inline">Курение: более 10 сигарет в день
                                                    &nbsp;<input type="radio" name="optradio">Да</label>
                                                <label class="radio-inline"><input type="radio"
                                                        name="optradio">Нет</label>
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-radio">
                                                <label class="radio-inline">Прием алкоголя превышающий уровень низкого
                                                    риска: не более 20 граммов
                                                    чистого алкоголя в день, не более 5 дней в неделю, прием алкоголя в
                                                    течение
                                                    48 часов до введения исследуемого препарата &nbsp;<input
                                                        type="radio" name="optradio">Да</label>
                                                <label class="radio-inline"><input type="radio"
                                                        name="optradio">Нет</label>
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-radio">
                                                <label class="radio-inline">Плановая госпитализация и/или хирургическое
                                                    вмешательство в период
                                                    участия в исследовании, а также за 4 недели до предполагаемой даты
                                                    вакцинации &nbsp;<input type="radio" name="optradio">Да</label>
                                                <label class="radio-inline"><input type="radio"
                                                        name="optradio">Нет</label>
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-radio">
                                                <label class="radio-inline">Донорская сдача крови (450 мл и более крови
                                                    или плазмы) менее чем за 2
                                                    месяца до начала исследования &nbsp;<input type="radio"
                                                        name="optradio">Да</label>
                                                <label class="radio-inline"><input type="radio"
                                                        name="optradio">Нет</label>
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-radio">
                                                <label class="radio-inline">Участие субъекта в любом другом
                                                    интервенционном клиническом
                                                    исследовании за последние 90 дней &nbsp;<input type="radio"
                                                        name="optradio">Да</label>
                                                <label class="radio-inline"><input type="radio"
                                                        name="optradio">Нет</label>
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-radio">
                                                <label class="radio-inline">Любая вакцинация за последние 30 дней
                                                    &nbsp;<input type="radio" name="optradio">Да</label>
                                                <label class="radio-inline"><input type="radio"
                                                        name="optradio">Нет</label>
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-radio">
                                                <label class="radio-inline">Неспособность читать на русском языке;
                                                    невозможность или нежелание
                                                    понять суть исследования. Любые другие состояния, которые
                                                    ограничивают
                                                    правомерность получения информированного согласия или могут повлиять
                                                    на
                                                    способность добровольца принять участие в исследовании повлиять на
                                                    способность добровольца принять участие в исследовании &nbsp;<input
                                                        type="radio" name="optradio">Да</label>
                                                <label class="radio-inline"><input type="radio"
                                                        name="optradio">Нет</label>
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-radio">
                                                <label class="radio-inline">Персонал исследовательских центров и другие
                                                    сотрудники,
                                                    непосредственно участвующие в проведении исследования и члены их
                                                    семей
                                                    (главный исследователь и члены исследовательской команды)
                                                    &nbsp;<input type="radio" name="optradio">Да</label>
                                                <label class="radio-inline"><input type="radio"
                                                        name="optradio">Нет</label>
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-radio">
                                                <label class="radio-inline">Любое иное состояние субъекта исследования,
                                                    которое, по мнению-врача-
                                                    исследователя, может препятствовать завершению исследования в
                                                    соответствии с протоколом &nbsp;<input type="radio"
                                                        name="optradio">Да</label>
                                                <label class="radio-inline"><input type="radio"
                                                        name="optradio">Нет</label>
                                            </div>
                                        </div>




                                        <div class="d-grid gap-2">
                                            <input type="submit" value="Сохранить" class="btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </p>

                <h4 id="item-1-5"></h4>
                <p>
                <div class="shadow-sm p-3 bg-white rounded h-100">
                    <h5 class="text-center">Критерии невключения в иследование</h5>
                    <hr>
                    <div class="row">
                        <div class="col-7">
                            <br>
                            <div class="mb-1">


                                <form id="demography" method="POST" action="/subject/demography/save">

                                    <div class="mb-1">
                                        <div class="mb-1">
                                            <div class="form-check">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                        id="flexRadioDefault1">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                        id="flexRadioDefault1">
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        ,kf,kf
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label">Если НЕТ, то укажите причину</label>
                                            <input class="form-control" type="input">
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label">Дата проведения измерений</label>
                                            <input class="form-control" type="date">
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label">Масса тела</label>
                                            <input class="form-control" type="input">
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label">Рост</label>
                                            <input class="form-control" type="input">
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label">Индекс массы тела(рассчетное значение)</label>
                                            <input class="form-control" type="input">
                                        </div>



                                        <div class="d-grid gap-2">
                                            <input type="submit" value="Сохранить" class="btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </p>

                <h4 id="item-2">Item 2</h4>
                <p>...</p>
                <h4 id="item-3">Item 3</h4>
                <p>...</p>

            </div>
        </div>




        <div class="col-2 shadow-sm p-3 bg-white rounded" id="right">
            <h5 class="text-center">Обсуждения</h5>
        </div>
    </div>
</section>

<div class="modal fade" id="Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="false">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalHeader"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="ModalBody">
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>