<section>
    <div class="container-fluid mb-3">
        <div class="row justify-content-center">
            <div class="col-8 p-0">
                <div class="shadow p-3 mb-3 bg-white rounded">
                    <h2 class="text-center">{{.Protocol.Name}}</h2>
                </div>
            </div>
        </div>
    </div>



    <partial name="_ShadeHeaderPartial" />
    <div class="row">
        <div class="col-2 h-63vh shadow-sm p-3 bg-white rounded">
            <h5 class="text-center">Субъекты</h5>
            <div id="subject-select">
                <div class="d-flex" id="load">
                    <select class="form-select px-1" id="subject" onchange="OnSelectSubjectChange()">
                        <option value="null">Не выбрано</option>
                        {{range .Subjects}}
                        <option value="@subject.Id">Субьект №{{.Number}}</option>
                       {{end}}
                        </select>

                    
                </div>
            </div>
            <div class="grey rounded mt-1" id="menu">
                <ul>
                    <li>Скрининг</li>
                    <li style="list-style-type: none;">
                        <ul>
                            <li>Начало визита</li>
                            <li>Информ. согласие</li>
                            <li>Демография</li>
                        </ul>
                    </li>
                    <li>Период 1</li>
                    <li>Период 2</li>
                    <li>Заключительное обследование</li>
                    <li>Внеплановый визит №1</li>
                    <li>Внеплановый визит №2</li>
                </ul>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn  btn-primary" data-bs-toggle="modal" data-bs-target="#updateCenter">
                Добавить субьект исследования
            </button>

            <!-- Modal -->
            <div class="modal fade" id="updateCenter" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="updateCenter" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="updateCenter">Обновление центра
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row justify-content-center mt-3">
                                <form id="new-form" method="POST" action="/subject/new"
                                    class="col-12 col-lg-6 col-md-8 col-sm-10 rounded">
                                    <div class="m-3">
                                        <div class="m-3">
                                            <div class="mb-2">
                                                <label class="form-label">Протокол ID</label>
                                                <input class="form-control" type="text"
                                                    placeholder="{{.Protocol.Id}}"
                                                    value="{{.Protocol.Id}}" name="protocol_id" id="protocol_id"
                                                    readonly>
                                            </div>
                                            <div class="mb-2">
                                                <label class="form-label">Центр ID</label>
                                                <input class="form-control" type="text" placeholder="{{.ClinicId}}"
                                                    value="{{.ClinicId}}" name="center_id" id="center_id" readonly>
                                            </div>
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label">Скрининговый номер</label>
                                            <input id="number" type="text" class="form-control" name="number">
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label">Инициалы добровольца</label>
                                            <input id="initials" type="text" class="form-control" name="initials">
                                        </div>

                                        <div class="d-grid gap-2">
                                            <br>
                                            <input type="submit" value="Сохранить" class="btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-8 px-2" id="center">
            <div class="shadow-sm p-3 bg-white rounded h-100">
                <h5 class="text-center">Демография</h5>
                <hr>
                <div class="row">
                    <div class="col-7">
                        <div class="mb-1">


                            <form id="demography" method="POST" action="/subject/demography/new">

                                <div class="mb-1">
                                    <div class="mb-1">
                                        <label class="form-label">Пол</label>
                                        <select id="sex" name="center" class="form-select">
                                            <option value="1">Мужчина</option>
                                            <option value="2">Женщина</option>

                                        </select>
                                    </div>
                                    <div class="mb-2">


                                        <label class="form-label">Раса</label>
                                        <select id="sex" name="center" class="form-select">
                                            <option value="1">Европеоидная</option>
                                            <option value="2">Негроидная</option>
                                            <option value="3">Монголоидная</option>
                                            <option value="4">Американоидная</option>
                                            <option value="5">Австралоидная</option>

                                        </select>
                                    </div>
                                    <div class="mb-2">
                                        <label class="form-label">Дата рождения</label>
                                        <input class="form-control" type="date">
                                    </div>

                                    <div class="d-grid gap-2">
                                        <input type="submit" value="Сохранить" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-5 grey rounded">
                        <table>
                            <thead>
                                <tr class="cell-centered">
                                    <th>Первичная валидация</th>
                                    <th>Верификация монитором</th>
                                    <th>Верификация Дата Менеджером</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="cell-centered">
                                    <td>
                                        <h2>✅</h2>
                                    </td>
                                    <td>
                                        <h2>✅</h2>
                                    </td>
                                    <td>
                                        <h2>⛔</h2>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>




        <div class="col-2 shadow-sm p-3 bg-white rounded" id="right">
            <h5 class="text-center">Обсуждения</h5>
        </div>
    </div>
</section>

<div class="modal fade" id="Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="false">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalHeader"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="ModalBody">
            </div>
        </div>
    </div>
</div>