<section>

    <div class="container-fluid mb-3">
        <div class="row justify-content-center">
            <div class="col-8 p-0">
                <div class="shadow p-3 mb-3 bg-white rounded">
                    <h2 class="text-center">{{.Protocol.Name}}</h2>
                </div>
            </div>
        </div>
    </div>



    <partial name="_ShadeHeaderPartial" />
    <div class="row">
        <div class="col-2  shadow-sm p-3 bg-white rounded">
            <h5 class="text-center">Субъекты</h5>
            <!-- Button trigger modal -->
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-sm  btn-primary" data-bs-toggle="modal"
                    data-bs-target="#updateCenter">
                    Добавить субьект исследования
                </button>
            </div>
            <div id="subject-select">
                <div class="d-flex" id="load">
                    <select class="form-select px-1" id="subject" onchange="gotopage(this)">
                        <option value="{{.Subject.Number}}">Субьект №{{.Subject.Number}}</option>
                        {{$p := .Protocol.Id}}
                        {{range .Subjects}}
                        <option value="/protocol/{{$p}}/{{.Number}}">Субьект №{{.Number}}</option>
                        {{end}}
                    </select>
                    <script type="text/javascript">
                        function gotopage(selval) {
                            var value = selval.options[selval.selectedIndex].value;
                            window.location.href = value;
                        }
                    </script>

                </div>
            </div>



            <!-- Modal -->
            <div class="modal fade" id="updateCenter" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="updateCenter" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="updateCenter">Добавление нового субьекта
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row justify-content-center mt-3">
                                <form id="new-form" method="POST" action="/subject/new"
                                    class="col-12 col-lg-6 col-md-8 col-sm-10 rounded">
                                    <div class="m-3">
                                        <div class="m-3">
                                            <div class="mb-2">

                                                <input class="form-control" type="hidden" placeholder="{{.Protocol.Id}}"
                                                    value="{{.Protocol.Id}}" name="protocol_id" id="protocol_id"
                                                    readonly>
                                            </div>
                                            <div class="mb-2">

                                                <input class="form-control" type="hidden" placeholder="{{.ClinicId}}"
                                                    value="{{.ClinicId}}" name="center_id" id="center_id" readonly>
                                            </div>
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label">Скрининговый номер</label>
                                            <input id="number" type="text" class="form-control" name="number">
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label">Инициалы добровольца</label>
                                            <input id="initials" type="text" class="form-control" name="initials">
                                        </div>

                                        <div class="d-grid gap-2">
                                            <br>
                                            <input type="submit" value="Сохранить" class="btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>

                        </div>
                    </div>
                </div>
            </div>


            <!-- Scrollspy -->
            <div id="navbar-example3" class="sticky-top">
                <ul class="nav flex-column nav-pills menu-sidebar">
                    <li class="nav-item">
                        <a class="nav-link" href="#item-1">Скрининг</a>
                        <ul class="nav flex-column ps-3 subject-ul">
                            <li class="nav-item">
                                <a class="nav-link " href="#item-1-1">Информ. согласие</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#item-1-2">Демография</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#item-1-3">Антропометрия</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#item-1-4">Критерии включения в иследование</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#item-1-5">Критерии невключения в исследование</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#item-1-6">Завершение скрининга</a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#item-2">Период 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#item-3">Период 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#item-4">Заключительное обследование</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#item-5">Внеплановый визит №1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#item-6">Внеплановый визит №2</a>
                    </li>
                </ul>
            </div>
            <!-- Scrollspy -->
        </div>

        {{if .Subject}}
        <div id="protocol_id_for_js" style="display: none;" value="{{.Subject.ProtocolId}}"> </div>
        <div id="subject_id_for_js" style="display: none;" value="{{.Subject.Number}}"></div>
        <div class="col-8 " id="center">

            <div data-bs-offset="0" class="navbar-example3 md-8" data-bs-spy="scroll" data-bs-target="#navbar-example3">

                <section id="item-1">
                    <div class="shadow-sm p-3 bg-white rounded h-100">

                        <h1 class="text-center"> Скрининг</h1>
                    </div>
                </section>


                {{template "informaion_consent" .}}

                {{template "demography" .}}

                {{ template "anthropometry" . }}

                {{template "inclusion_criteria" .}}

                {{ template "exclusion_criteria" .}}

                {{template "completion" .}}
                <section id="item-2">
                    <div class="shadow-sm p-3 bg-white rounded h-100">

                        <h1 class="text-center"> Период 1</h1>
                    </div>
                </section>




            </div>




        </div>
        <div class="col-2 shadow-sm p-3 bg-white rounded discussions  " id="right">
            <div class="discussions" id="discussions">
                <div data-bs-spy="scroll" data-bs-target="discussions" data-bs-offset="0" tabindex="0">
                    <h5 class="text-center">Обсуждения</h5>

                    <div class="accordion" id="accordionExample">
                        {{ if .ConsentErrors }}
                        <hr />
                        <h6 class="text-center"><strong>Информированное согласие</strong> </h6>

                        {{range $i, $error := .ConsentErrors}}


                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading1{{$i}}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse1{{$i}}" aria-expanded="false"
                                    aria-controls="collapse1{{$i}}">
                                    {{$error.Field}}
                                </button>
                            </h2>
                            <div id="collapse1{{$i}}" class="accordion-collapse collapse "
                                aria-labelledby="heading1{{$i}}" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="list-unstyled">
                                        <li>
                                            <h6>Причина:&nbsp;&nbsp;{{$error.Reasons}} </h6>
                                        </li>

                                        <li>
                                            <h6>Комментарий:&nbsp;&nbsp;{{$error.Comments}} </h6>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        {{end}}
                        {{end}}
              
                    
                        {{ if .DemographyErrors }}
                        <hr />
                        <h6 class="text-center"><strong>Демография</h6> </label>

                        {{range $i, $error := .DemographyErrors }}

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading2{{$i}}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse2{{$i}}" aria-expanded="false"
                                    aria-controls="collapse2{{$i}}">
                                    {{$error.Field}}
                                </button>
                            </h2>
                            <div id="collapse2{{$i}}" class="accordion-collapse collapse "
                                aria-labelledby="heading2{{$i}}" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="list-unstyled">
                                        <li>
                                            <h6>Причина:&nbsp;&nbsp;{{$error.Reasons}} </h6>
                                        </li>

                                        <li>
                                            <h6>Комментарий:&nbsp;&nbsp;{{$error.Comments}} </h6>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        {{end}}
                        {{end}}
                       
                    
                        {{ if .AnthropometryErrors }}
                        <hr />
                        <h6 class="text-center"><strong>&nbsp;&nbsp;&nbsp;&nbsp;Антропометрия</strong> </h6>

                        {{range $i, $error := .AnthropometryErrors }}

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading3{{$i}}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse3{{$i}}" aria-expanded="false"
                                    aria-controls="collapse3{{$i}}">
                                    {{.Field}}
                                </button>
                            </h2>
                            <div id="collapse3{{$i}}" class="accordion-collapse collapse "
                                aria-labelledby="heading3{{$i}}" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="list-unstyled">
                                        <li>
                                            <h6>Причина:&nbsp;&nbsp;{{$error.Reasons}} </h6>
                                        </li>

                                        <li>
                                            <h6>Комментарий:&nbsp;&nbsp;{{$error.Comments}} </h6>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        {{end}}
                        {{end}}
                   
                      
                        {{ if .InclusionErrors }}
                        <hr />
                        <h6 class="text-center"><strong>&nbsp;&nbsp;&nbsp;&nbsp;Критерии включения</strong> </h6>
                        {{range $i, $error := .InclusionErrors }}

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading4{{$i}}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse4{{$i}}" aria-expanded="false"
                                    aria-controls="collapse4{{$i}}">
                                    {{.Field}}
                                </button>
                            </h2>
                            <div id="collapse4{{$i}}" class="accordion-collapse collapse "
                                aria-labelledby="heading4{{$i}}" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="list-unstyled">
                                        <li>
                                            <h6>Причина:&nbsp;&nbsp;{{$error.Reasons}} </h6>
                                        </li>

                                        <li>
                                            <h6>Комментарий:&nbsp;&nbsp;{{$error.Comments}} </h6>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        {{end}}
                        {{end}}
                      
                      
                        {{ if .ExclusionErrors }}
                        <hr />
                        <h6 class="text-center"><strong>&nbsp;&nbsp;&nbsp;&nbsp;Критерии невключения</strong> </h6>
                        {{range $i, $error := .ExclusionErrors }}

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading5{{$i}}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse5{{$i}}" aria-expanded="false"
                                    aria-controls="collapse5{{$i}}">
                                    {{.Field}}
                                </button>
                            </h2>
                            <div id="collapse5{{$i}}" class="accordion-collapse collapse "
                                aria-labelledby="heading5{{$i}}" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="list-unstyled">
                                        <li>
                                            <h6>Причина:&nbsp;&nbsp;{{$error.Reasons}} </h6>
                                        </li>

                                        <li>
                                            <h6>Комментарий:&nbsp;&nbsp;{{$error.Comments}} </h6>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        {{end}}
                        {{end}}

                      
                       
                        {{ if .CompletionErros }}
                        <hr />
                        <h6 class="text-center"><strong>&nbsp;&nbsp;&nbsp;&nbsp;Завершение скрининга</strong> </h6>
                        {{range $i, $error := .CompletionErros }}

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading6{{$i}}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse6{{$i}}" aria-expanded="false"
                                    aria-controls="collapse6{{$i}}">
                                    {{.Field}}
                                </button>
                            </h2>
                            <div id="collapse6{{$i}}" class="accordion-collapse collapse "
                                aria-labelledby="heading6{{$i}}" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="list-unstyled">
                                        <li>
                                            <h6>Причина:&nbsp;&nbsp;{{$error.Reasons}} </h6>
                                        </li>

                                        <li>
                                            <h6>Комментарий:&nbsp;&nbsp;{{$error.Comments}} </h6>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        {{end}}
                        {{end}}



                    </div>


                </div>
            </div>

        </div>
    </div>
    {{else }}
    <div class="col-8 ">
        <div class="bg-white rounded shadow-sm">
            <br>
            <h4 class="text-center">
                Для того чтобы начать работать с протоколом создайте первый субъект
            </h4>
            <br>
            <br>
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-sm  btn-primary" data-bs-toggle="modal"
                    data-bs-target="#updateCenter">
                    Добавить субьект исследования
                </button>
            </div>
        </div>
    </div>

    {{end}}






    </div>
</section>
{{if .Name}}
<script src="/public/js/protocol.js"></script>
{{end}}