<div class="row justify-content-center mt-3">
  <form id="new-form" method="POST" action="/user/login" class="col-12 col-lg-6 col-md-8 col-sm-10 rounded">
    <div class="m-3">
      <h3 class="text-center mb-1">Вход</h3>

      <div class="mb-2">


        <input id="email" type="text" class="form-control" name="email" placeholder="Логин">

      </div>

      <div class="mb-2">


        <input id="password" type="text" class="form-control" name="password" placeholder="Пароль">
        {{if .WrongPassword}}
        <br>
        <div class="mb-2">
          <h5 class="text-center mb-2 text-danger">Неправильный пароль</h5>
        </div>

        {{else if .WrongLogin}}
        <br>
        <div class="mb-2">
          <h5 class="text-center mb-2 text-danger">Неправильный логин</h5>
        </div>

        {{end}}
      </div>
      <div class="d-grid gap-2">
       
        <input type="submit" value="Войти" class="btn btn-primary">
      </div>
    </div>
  </form>
</div>