<section>
    <div class="container-fluid mb-3">
        <div class="row justify-content-center">
            <div class="col-8 p-0">
                <div class="shadow p-3 mb-3 bg-white rounded">
                    <h2 class="text-center">Список протоколов</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="shadow-sm p-3 bg-white rounded">
            <div class="row mb-1">
                <form class="col-3" asp-controller="Protocol" asp-action="List" method="get">
                    <select asp-for="Status" class="form-select" asp-items="@Html.GetEnumSelectList<ProtocolStatus>()"
                        onchange="this.form.submit()">
                        <option value="null">Не фильтровать</option>
                    </select>
                </form>
                <div class="col-9">
                    <div class="h-100 d-flex justify-content-right align-items-end">
                        <a href="/protocol/">  
                            <button class="btn btn-outline-primary">Добавить протокол</button>  
                          </a>
                    </div>
                </div>
            </div>
            <div class="scroll-block">
                <table class="table table-primary table-bordered table-sm mb-0">
                    <thead>
                        <tr class="cell-centered">

                            <th scope="col">Изменить</th>

                            <th сlass="number-column" scope="col">№ п/п</th>
                            <th scope="col">Название</th>
                            <th scope="col">Клинический центр</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Перейти</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{if .Name}}
                        {{$counter := set 0}}
                        {{range .Protocols}}
                        {{$counter := inc}}
                        <tr class="cell-centered">

                            <td>
                                

                                <a href="/protocol/edit/{{$counter}}">  
                                    <button class="btn-outline-warning">🖊</button>  
                                  </a>
                            </td>

                            <div>

                            </div>
                            <td> {{.Id}} </td>
                            <td>{{.Name}}</td>
                            <td>{{.CenterId}}</td>
                            <td>{{.Status}}</td>
                            <td>
                                <a href="/protocol/{{$counter}}">  
                                    <button class="btn-outline-primary">📑</button>  
                                  </a>
                            </td>
                        </tr>
                        {{end}}
                        {{else}}
                        <tr class="cell-centered">
                            <td colspan="@(showEditing ? 6 : 5)">Протоколы не найдены</td>
                        </tr>


                        {{end}}



                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>