<section>
    <div class="container-fluid mb-3">
        <div class="row justify-content-center">
            <div class="col-8 p-0">
                <div class="shadow p-3 mb-3 bg-white rounded">
                    <h2 class="text-center">Список протоколов</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="shadow-sm p-3 bg-white rounded">
            <div class="row mb-1">
                <div class="col-3">
                    <select id="filter" name="filter" class="form-select" onchange="gotopage(this)">
                        <option value="" selected>Фильтр</option>
                        <option value="/main/filter=0">По номеру</option>
                        <option value="/main/filter=1">По имени</option>
                        <option value="/main/filter=3">По клиническому центру</option>
                        <option value="/main/filter=2">По статусу</option>

                    </select>
                </div>
                <script type="text/javascript">
                    function gotopage(selval) {
                        var value = selval.options[selval.selectedIndex].value;
                        window.location.href = value;
                    }
                </script>


                <div class="col-9">
                    <div class="h-100 d-flex justify-content-right align-items-end">

                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#addProtocol">
                            Добавить протокол
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="addProtocol" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="addProtocol" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addProtocol">Добавление протокола
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row justify-content-center mt-3">
                                            <form id="new-form" method="POST" action="/protocols/add"
                                                class="col-12 col-lg-6 col-md-8 col-sm-10 rounded">
                                                <div class="m-3">
                                                    <div class="mb-2">
                                                        <label class="form-label">Название</label>
                                                        <input id="Name" type="text" class="form-control" name="name">
                                                    </div>
                                                    <div class="mb-2">


                                                        <label class="form-label">Статус</label>
                                                        <select id="status" name="status" class="form-select">
                                                            <option value="1">Активный</option>
                                                            <option value="2">Неактивный</option>
                                                        </select>
                                                    </div>

                                                    <div class="mb-2">
                                                        <label class="form-label">Центр</label>
                                                        <select id="center" name="center" class="form-select">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                        </select>
                                                    </div>
                                                    <div class="d-grid gap-2">
                                                        <input type="submit" value="Сохранить" class="btn btn-primary">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger"
                                            data-bs-dismiss="modal">Закрыть</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll-block">
                <table class="table table-primary table-bordered table-sm mb-0">
                    <thead>
                        <tr class="cell-centered">

                            <th scope="col">Действие</th>

                            <th сlass="number-column" scope="col">№ п/п</th>
                            <th scope="col">Название</th>
                            <th scope="col">Клинический центр</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Перейти</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{if .Name}}
                        {{$c :=.CLinicCenter }}
                        {{$counter := setCounter 0}}
                        {{range .Protocols }}

                        <tr class="cell-centered">
                            {{$counter := incCounter}}
                            <td>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-sm btn-outline-warning" data-bs-toggle="modal"
                                    data-bs-target="#edit{{.Id}}">
                                    🖊
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="edit{{.Id}}" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="edit{{.Id}}"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="edit{{.Id}}">Изменение протокола
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row justify-content-center mt-3">
                                                    <form id="new-form" method="POST" action="/protocols/save"
                                                        class="col-12 col-lg-6 col-md-8 col-sm-10 rounded">
                                                        <div class="m-3">
                                                            <div class="mb-2">

                                                                <input class="form-control" type="text"
                                                                    placeholder="{{.Id}}" value="{{.Id}}" name="id"
                                                                    id="id" readonly>
                                                            </div>


                                                            <div class="mb-2">


                                                                <label class="form-label">Название</label>
                                                                <input id="Name" type="text" class="form-control"
                                                                    name="name" value="{{.Name}}" placeholder="name">
                                                            </div>
                                                            <div class="mb-2">


                                                                <label class="form-label">Статус</label>

                                                                <select id="staus" name="status" class="form-select">
                                                                    {{$s := set .Status}}
                                                                    {{$t := com $s}}
                                                                    <option value="{{.Status}}"> {{$t}}
                                                                    </option>
                                                                    <option value="1">Активный</option>
                                                                    <option value="2">Неактивный</option>
                                                                </select>
                                                            </div>

                                                            <div class="mb-2">


                                                                <label class="form-label">Центр</label>
                                                                <select id="center" name="center" class="form-select">
                                                                    <option value="{{.CenterId}}">
                                                                        {{.CenterId}}</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                </select>
                                                            </div>
                                                            <div class="d-grid gap-2">
                                                                <input type="submit" value="Сохранить"
                                                                    class="btn btn-primary">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger"
                                                    data-bs-dismiss="modal">Закрыть</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-sm  btn-outline-danger" data-bs-toggle="modal"
                                    data-bs-target="#delete{{.Id}}">
                                    🗑️
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="delete{{.Id}}" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="delete{{.Id}}"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="delete{{.Id}}">Удаление протокола {{.Name}}
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row justify-content-center mt-3">
                                                    <form id="new-form" method="POST" action="/protocols/delete"
                                                        class="col-12 col-lg-6 col-md-8 col-sm-10 rounded">
                                                        <div class="m-3">
                                                            <div class="mb-2">

                                                                <input class="form-control" type="text"
                                                                    placeholder="{{.Id}}" value="{{.Id}}" name="id"
                                                                    id="id" readonly>
                                                            </div>
                                                            <label>Вы уверены, что хотите удалить протокол?</label>
                                                            <div class="d-grid gap-2">
                                                                <input type="submit" value="Удалить"
                                                                    class="btn btn-danger">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary"
                                                    data-bs-dismiss="modal">Отмена</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </td>

                            <div>

                            </div>
                            <td> {{$counter}} </td>
                            <td>{{.Name}}</td>
                            <td>{{$c}}</td>
                            {{$s := set .Status}}
                            {{$t := com $s}}
                            <td>{{$t}}</td>




                            <td>
                                <a href="/protocol/{{.Id}}/1">
                                    <button class="btn btn-sm  btn-outline-primary">📑</button>
                                </a>
                            </td>
                        </tr>
                        {{end}}
                        {{else}}
                        <tr class="cell-centered">
                            <td colspan="@(showEditing ? 6 : 5)">Протоколы не найдены</td>
                        </tr>


                        {{end}}



                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>